
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--background-start) 0%, var(--background-end) 100%);
    color: var(--text-color);
    font-family: var(--roboto);
}

@media print {
    @page {
        /* Remove default header and footer with margin 0 */
        margin: 0;
        padding: calc(var(--spacer)*2);
    }

    body {
        color: var(--black-native);
        background: none;
    }
}

:root {
  color-scheme: dark light;
}