
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--black) 0%, var(--black-lightest) 100%);
    color: var(--white);
    font-family: var(--roboto);
}

@media print {
    /* Remove default header and footer */
    @page {
        margin: 0;
    }
    body {
        color: var(--black-native);
        background: none;
    }
}