:root {
    /* Spacing */
    --spacer: 1rem;
    --max-width: 1440px;

    /* Sizes */
    --default-size: 1rem;

    /* Fonts */
    --roboto: 'Roboto', sans-serif;

    /* Font size */
    --base-size: 1rem;
    --ratio: 1.25;
    --font-sm: calc(var(--base-size) / var(--ratio));
    --font-md: var(--base-size);
    --font-lg: calc(var(--base-size) * var(--ratio));
    --font-xl: calc(var(--font-lg) * var(--ratio));
    --font-xxl: calc(var(--font-xl) * var(--ratio));

    /* Colors */
    --black: #090909;
    --black-lightest: #0f0f0f;
    --black-hover: #2a2a2a;
    --white: #F8F9FA;
    --white-lightest: #f8f8f8;
    --white-hover: #e0e0e0;
    --dark-gray: #ADB5BD;
    --black-native: #000;

    /* Border radius */
    --default-border-radius: 0.25rem;
    --border-radius-rounded: 0.50rem;

    /* Border */
    --default-border: 1px;

    /* Transitions */
    --transition-color: color 0.5s ease;
    --transition-background: background-color 0.5s ease;

    /* Opacity */
    --base-opacity: 0.1;

    /* Semantic Colors */
    --background-color: var(--black);
    --background-start: var(--black);
    --background-end: var(--black-lightest);
    --text-color: var(--white);
    --hover-color: var(--black-hover);
}

[data-theme="light"] {
    --background-color: var(--white);
    --background-start: var(--white);
    --background-end: var(--white-lightest);
    --text-color: var(--black);
    --hover-color: var(--white-hover);
}
