$white: #eeeeee;
$white2: #dddddd;
$red: #f08080;
$red2: #f46154;
$green: #9fe6a0;
$green2: #63be78;
$grey: #9e9e9e;
$grey2: #7e7e7e;
$grey3: #393e46;
$blue: #95c8d8;
$blue2: #6da0b0;
$blue3: #00adb5;
$black: #222831;
