@font-face {
    font-family: Roboto-Regular;
    font-style: normal;
    src: url('/public/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    font-style: normal;
    src: url('/public/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Italic;
    font-style: italic;
    src: url('/public/fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto-BoldItalic;
    font-style: normal;
    src: url('/public/fonts/Roboto/Roboto-BoldItalic.ttf');
}
